@import "src/styles/sizes";

.menu {
  min-height: $menuHeight;

  &__right {
    display: flex;
  }

  &__body {
    height: $menuHeight;
    background-color: #2231AA;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
