.tabs {
  padding: 20px;

  &-active {
    border-bottom: 2px solid #313037;;
  }

  &-title {
    color: #8D8E97;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
  }

  &-wrap{
    border-bottom: 1px solid #DADADA;
    display: flex;
    gap: 40px;

    &-cell{
      padding: 24px 40px;
      cursor: pointer;

      &-title{
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #313037;

        &:hover{
          color: #2231AA;
        }
      }
    }
  }
}
