@import "src/styles/sizes";

.menu-navigation {
  &__container {
    width: 236px;
    height: calc(100vh - $menuHeight);
    background-color: #fff;
    position: fixed;
    left: 0;
    top: $menuHeight;
    transition: transform 1s;
    overflow: hidden;
    transform: translate(-100%);

    &--shown {
      transform: translate(0);
    }
  }
}
