body {
  background-color: #f3f3f3;
  height: 100vh;
}

.App {
  height: 100%;

  &--dark {
    background: #606060;
    color: #ffff;
  }
}

.btn-custom {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

p {
  margin: 0;
}

#root {
  height: 100%;
}
