body {
  background-color: #f3f3f3;
}

.App {
  &--dark {
    background: #606060;
    color: #ffff;
  }
}

.btn-custom {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}
